= form_for @rarity do |f|
  - if @rarity.errors.any?
    #error_explanation
      %h2= "#{pluralize(@rarity.errors.count, "error")} prohibited this rarity from being saved:"
      %ul
        - @rarity.errors.full_messages.each do |message|
          %li= message

  .form-group
    = f.label :name, class: 'form-label'
    = f.text_field :name, class: 'form-control'
  .form-group
    = f.label :modifier, class: 'form-label'
    = f.text_field :modifier, class: 'form-control'
  .form-group.mt-3
    = link_to 'Back', :back, class: 'btn btn-secondary'
    = f.submit 'Save', class: 'btn btn-primary'
