- if policy(:guild).create?
  .float-end.mb-3 
    = link_to 'New Guild', new_guild_path, class: 'btn btn-success'

%h1 Listing guilds

%table.table.table-striped.border
  %thead
    %tr
      %th Name
      %th Parent Guild
      %th Players
      - if policy(:guild).any?
        %th

  %tbody
    - @guilds.each do |guild|
      %tr
        %td= guild.name
        %td= guild.parent_guild&.name
        %td= guild.players.count
        - if policy(:guild).any?
          %td.text-end
            .btn-group
              = link_to 'Show', guild, class: 'btn btn-primary' if policy(guild).show?
              = link_to 'Edit', edit_guild_path(guild), class: 'btn btn-secondary' if policy(guild).update?
              = link_to 'Destroy', guild, turbo_method: :delete, turbo_data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' if policy(guild).destroy?

