.float-end.mt-3 
  = link_to 'New Guild', new_guild_path, class: 'btn btn-primary'

%h1 Listing guilds

%table.table.table-striped.border
  %thead
    %tr
      %th Name
      %th Parent Guild
      %th Players
      %th

  %tbody
    - @guilds.each do |guild|
      %tr
        %td= guild.name
        %td= guild.parent_guild&.name
        %td= guild.players.count
        %td.text-end
          .btn-group
            = link_to 'Show', guild, class: 'btn btn-primary'
            = link_to 'Edit', edit_guild_path(guild), class: 'btn btn-secondary'
            = link_to 'Destroy', guild, turbo_method: :delete, turbo_data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'

