= form_for @timer, data: { controller: 'datepicker' } do |f|
  - if @timer.errors.any?
    #error_explanation
      %h2= "#{pluralize(@timer.errors.count, "error")} prohibited this timer from being saved:"
      %ul
        - @timer.errors.full_messages.each do |message|
          %li= message
  = f.hidden_field :user_id, value: current_user.id
  .row.mb-3
    .col
      = f.label :name, class: 'form-label'
      = f.text_field :name, class: 'form-control'
    .col
      = f.label :starts_at, class: 'form-label'
      = f.text_field :starts_at, class: 'form-control width-auto', data: { datepicker_target: 'input' }
  .mb-3
    = f.label :description, class: 'form-label'
    = f.textarea :description, class: 'form-control'
  .mb-3
    = f.label :public, class: 'form-label'
    = f.checkbox :public, class: 'form-check-input'
  .d-grid.mb-3
    .btn-group
      = link_to 'Cancel', :back, class: 'btn btn-secondary'
      = f.submit 'Save', class: 'btn btn-primary'
