%p#notice= notice

.row 
  .col
    .card.mb-3
      %h4.card-header= @ashes_mob.name
      .card-body 
        %p 
          %strong Level Range:
          = @ashes_mob.level_range

        %p
          %strong Codex Entry:
          = link_to @ashes_mob.name, "https://ashescodex.com/db/mob/#{@ashes_mob.slug}", target: '_blank'
    .d-grid
      = link_to 'Back', ashes_mobs_path, class: 'btn btn-primary'
  .col-md-8 
    %ul.class.nav.nav-tabs
      %li.nav-item 
        %button#instances-tab.nav-link.active{ data: { bs_toggle: 'tab', bs_target: '#instances' }, type: 'button' }
          Instances
      %li.nav-item
        %button#drops-tab.nav-link{ data: { bs_toggle: 'tab', bs_target: '#drops' }, type: 'button' }
          Drops
      - if current_user.admin?
        %li.nav-item 
          %button#raw-tab.nav-link{ data: { bs_toggle: 'tab', bs_target: '#rawdata' }, type: 'button' }
            Raw Data
    .tab-content
      #instances.tab-pane.fade.show.active{ role: 'tabpanel', tabindex:"0" }
        = render 'instances'
      #drops.tab-pane.fade{ role: 'tabpanel', tabindex:"0" }
        = render 'drops'
      - if current_user.admin?
        #rawdata.tab-pane.fade{ role: 'tabpanel', tabindex:"0" }
          = render 'raw_data'

