%h1 Listing AOC Items

%div{ data: { controller: "datatables" }}
  %table.table.table-stripped.border{ data: { datatables_target: 'table' }}
    %thead
      %tr
        %th GUID
        %th Name
        %th Type
        %th subType
        %th

    %tbody
      - cache [@ashes_items, 1] do
        - @ashes_items.each do |ashes_item|
          - cache ashes_item do 
            %tr
              %td= ashes_item.guid
              %td= ashes_item.itemName
              %td= ashes_item.inventoryFilterType
              %td= ashes_item.subType
              %td= link_to 'Show', ashes_item