%h1 Listing AOC Items

= form_tag ashes_items_path, method: :get do
  .row
    .col-6
      .input-group.mb-3
        = text_field_tag :search, params[:search], class: 'form-control', placeholder: 'Search...'
    .col-5
      .input-group.mb-3
        = select_tag :type, options_for_select(AshesItem.inventoryFilterTypes, params[:type]), include_blank: true, class: 'form-select'
    .col-1.text-end
      = button_tag 'Search', class: 'btn btn-primary', type: 'submit'
%div
  %table.table.table-stripped.table-hover.border
    %thead
      %tr
        %th GUID
        %th Name
        %th Type
        %th subType
        %th

    %tbody
      - cache [@ashes_items, 1] do
        - @ashes_items.each do |ashes_item|
          - cache ashes_item do 
            %tr
              %td= ashes_item.guid
              %td{ class: "bg-#{rarity_class(ashes_item.minRarity)}" }
                = link_to ashes_item.itemName, ashes_item
              %td= ashes_item.inventoryFilterType
              %td= ashes_item.subType
              %td= link_to 'Show', ashes_item
.row 
  .col
    .float-end 
      != pagy_bootstrap_nav @pagy