.row 
  .col-md-4
    .card.mb-3
      %h4.card-header
        %b= @ashes_item.itemName
      .card-body
        .row
          .col-md-4
            %b Name: 
          .col
            = @ashes_item.itemName
        .row 
          .col-md-4 
            %b Type:
          .col
            = @ashes_item._summary
        .row
          .col-md-4
            %b Rarity:
          .col
            %span{ class: "bg-" + rarity_name(@ashes_item.minRarity) }
              = rarity_name(@ashes_item.minRarity).titleize
            \-
            %span{ class: "bg-" + rarity_name(@ashes_item.maxRarity) }
              = rarity_name(@ashes_item.maxRarity).titleize
        %p.pt-4
          = strip_tags @ashes_item.description

    .d-grid.gap-2
      - if policy(@ashes_item).import?
        = link_to 'Import', import_ashes_item_path(@ashes_item), class: 'btn btn-primary', data: { turbo_method: :post }
      = link_to ashes_items_path, class: 'btn btn-secondary' do 
        %i.bi.bi-arrow-left
        Back

  .col-md-8
    .card
      %h4.card-header Raw Data:
      .card-body 
        - @ashes_item.data.each do |key, value|
          .row 
            .col-3.text-end
              %b= key
            .col-9
              != ap value, plain: true

