.float-end
  = link_to 'New Item', new_item_path, class: 'btn btn-success'

%h1 Listing items

%table.table.table-striped.border
  %thead
    %tr
      %th Name
      %th Modifier
      %th Quantity
      %th

  %tbody
    - @items.each do |item|
      %tr
        %td= item.name
        %td= item.modifier
        %td= item.quantity
        %td.text-end
          .btn-group
            = link_to 'Show', item, class: 'btn btn-primary'
            = link_to 'Edit', edit_item_path(item), class: 'btn btn-secondary'
            = link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'

%br

